services:
  app:
    image: registry.local:5000/library/app-boot:3.0.0
    build:
      context: appv3
      dockerfile: Dockerfile.slim
    depends_on:
      db:
        condition: service_healthy
    ports:
      - '8080:8080'
    volumes:
      - ./secrets/application.properties:/app/config/application.properties:ro
  # docker compose -f docker-compose-secrets.yml up db (for single service start)
  db:
    image: postgres:18.0-alpine3.22
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app -d db"]
    ports:
      - '5432:5432'
    volumes:
      - ./docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d:ro
    environment:
      - POSTGRES_DB=db
      - POSTGRES_USER_FILE=/run/secrets/db_user
      - POSTGRES_PASSWORD_FILE=/run/secrets/db_pass
    command: ["postgres", "-c", "log_statement=all"]
    secrets:
      - db_user
      - db_pass

secrets:
   db_user:
     file: ./secrets/db_user
   db_pass:
     file: ./secrets/db_pass